@font-face {
    font-family: 'cyrodiil';
    src: url('assets/cyrodiil.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'toril';
    src: url('assets/toril.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

:focus, :active {
    outline: none;
}

/* ==== Define Variables ==== */
:root {
    --dark: #232323;
    --grey-dark: #515151;
    --grey-mid: #6B6B6B;
    --grey-light: #888888;
    --neutral:  #f1efe3;
    --neutral-hover: #E9E8D6;
    --color-dark: #c28383;
    --color-light:#dfa6a6;
    --color-transparent:rgba(250, 135, 135, 0.4);
    --column: 320px;
    --sans: 'Josefin Sans';
}
/* ========================== */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit
}

body {
    min-height: calc(100vh - 100px);
    margin: 0;
    font-family: var(--sans);
    font-variation-settings: 'wght' 360;
    /* This is to help the transition with the sidebars, and the dumb pulltabs */
    overflow-x: hidden;
}

/* ==== Rules for scrollbars ==== */
* {
    scrollbar-width: none;
    scrollbar-color: var(--grey-light) var(--grey-dark);
}
body::-webkit-scrollbar {
    width: 0px;
}
body::-webkit-scrollbar-track {
    background: var(--grey-dark);
}
body::-webkit-scrollbar-thumb {
    background-color: var(--grey-light);    
}
/* ============================== */

button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
    cursor: pointer;
    font-family: var(--sans);
    font-size: 14px;
    font-weight: 350;
}

p, h1, h2, h3 {
    margin: 0;
}

.tab {
    position: absolute;
}